<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="LogFileAppender" />
    <appender-ref ref="ErrorLogFileAppender" />
  </root>
  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="c:\logs\ThrottlingGateway.log" />
    <encoding value="utf-8" />
    <appendToFile value="true" />
    <staticLogFileName value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="1" />
    <maximumFileSize value="1MB" />
    <layout type="log4net.Layout.PatternLayout">
      <header value="&#xD;&#xA; &#xD;&#xA;********** ThrottlingGateway session started **********&#xD;&#xA; &#xD;&#xA;" />
      <footer value="&#xD;&#xA; &#xD;&#xA;********** ThrottlingGateway session ended **********&#xD;&#xA; &#xD;&#xA;" />
      <conversionPattern value="%date %5level [%thread] (%file:%line) - %message%newline" />
    </layout>
  </appender>
  <appender name="ErrorLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <threshold value="WARN" />
    <file value="c:\logs\ThrottlingGateway.Error.log" />
    <encoding value="utf-8" />
    <appendToFile value="true" />
    <staticLogFileName value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="1" />
    <maximumFileSize value="1MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %5level [%thread] (%file:%line) - %message%newline" />
    </layout>
  </appender>
  <!-- IMPORTANT NOTE: ConsoleAppender does not work with a Windows Service. Use TraceAppender instead. -->
  <!-- See http://www.mail-archive.com/log4net-user@logging.apache.org/msg03386.html -->
  <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %5level [%thread] (%file:%line) - %message%newline" />
    </layout>
  </appender>
  <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
    <threshold value="WARN" />
    <logName value="eventIS" />
    <applicationName value="Prodis" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %5level [%thread] (%file:%line) - %message%newline" />
    </layout>
    <mapping>
      <level value="FATAL" />
      <eventLogEntryType value="Error" />
    </mapping>
    <mapping>
      <level value="Error" />
      <eventLogEntryType value="Error" />
    </mapping>
    <mapping>
      <level value="WARN" />
      <eventLogEntryType value="Warning" />
    </mapping>
    <mapping>
      <level value="INFO" />
      <eventLogEntryType value="Information" />
    </mapping>
    <mapping>
      <level value="DEBUG" />
      <eventLogEntryType value="Information" />
    </mapping>
  </appender>
</log4net>